*.class
**/target
**/bin
**/out

# Eclipse files
**/.settings
*.classpath
*.project
**/.metadata

# IntelliJ files
*.iml
**/.idea

# project specific file
/home/noel/GitHub/GNI_Honours/gni-system/src/main/java/database/Variables.java
